body.hasHover {
    .track-main {
        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }
    .track-header .direct-message .fa-envelope:hover {
        color: rgb(0, 136, 255);
    }
    .track-buttons {
        grid-area: buttons;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto 1fr;
        p {
            margin: 0;
        }
        .repost-wrapper .fa-retweet:hover {
            color: rgb(0, 128, 115);
        }
        .dislike-wrapper .fa-thumbs-down:hover {
            color: rgb(172, 0, 0);
        }
    }
}

.feed {
    background-color: white;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.track-main {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    grid-gap: 10px;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 50px auto min-content;
    grid-template-columns: 50px auto;
    grid-template-areas: "img header" "content content" "buttons buttons";
    .profile-link {
        border-radius: 50%;
    }
    .track-img {
        width: 50px;
        height: 50px;
        border: thick;
        border-radius: 50%;
        border-color: blue;
        grid-area: img;
        &:focus {
            outline: none;
            box-shadow: 0 0 5px black;
        }
    }
    .track-content {
        box-sizing: border-box;
        width: 100%;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        grid-area: content;
        color: black;
        padding: 20px;
    }
    .track-header {
        grid-area: header;
        display: flex;
        align-items: center;
        .track-screen-name {
            color: black;
            font-size: 15px;
            font-weight: bold;
        }
        .track-handle {
            color: gray;
            font-size: 15px;
            font-weight: thin;
            margin-left: 5px;
        }
        .track-timestamp {
            color: gray;
            font-size: 15px;
            margin-left: 5px;
        }
        .direct-message {
            margin: 0;
            padding: 0 6px;
            align-self: center;
            .fa-envelope {
                cursor: pointer;
                padding: 5px;
                margin: 0;
                color: gray;
            }
        }
    }
    .track-message {
        color: black;
        font-weight: thin;
        left: 13%;
        top: 10%;
        margin-right: 10px;
        position: absolute;
    }
    .track-buttons {
        grid-area: buttons;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto 1fr;
        p {
            margin: 0;
        }
        .repost-wrapper {
            padding: 0 20px;
            display: flex;
            align-items: center;
            .fa-retweet {
                margin: 0;
                padding-right: 5px;
                color: gray;
                cursor: pointer;
                font-weight: thin;
            }
            p {
                font-size: 11px;
                margin: 0;
                padding: 0;
                color: gray;
            }
            &.active {
                .fa-retweet,
                p {
                    color: rgb(0, 128, 115);
                }
            }
        }
        .dislike-wrapper {
            display: flex;
            padding: 0 20px;
            align-items: center;
            p {
                font-size: 11px;
                margin: 0;
                padding: 0;
                color: gray;
            }
            .fa-thumbs-down {
                padding-right: 5px;
                margin: 0;
                color: gray;
                cursor: pointer;
                font-weight: thin;
            }
            &.active {
                .fa-thumbs-down,
                p {
                    color: rgb(172, 0, 0);
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .track-main {
        .track-header {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto min-content;
            .track-screen-name {
                width: auto;
                margin: 0;
            }
            .track-handle {
                width: auto;
                margin: 0;
                grid-row-start: -2;
            }
            .track-timestamp {
                width: auto;
                margin: 0;
            }
            .direct-message {
                grid-column-start: -2;
            }
        }
        .track-content {
            padding: 20px 10px;
        }
        .track-buttons .track-stat {
            padding: 0 10px;
        }
    }
}