.side-profile {
  background-color: white;
  position: relative;

  h1 {
    margin: 0;
  }
  
  .profile-top {
    background-color: $color-primary;
    padding: 30px;
  }

  .profile-name {
    position: absolute;
    top: 45%;
    left: 30%;
    .display-name {
      color: black;
      font-size: 16px;
    }
    .username {
      color: $color-gray;
      font-size: 12px;
    }
  }

  img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 4%;
  }

  .profile-bottom {
    padding: 40px;
  }

  .record {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    .tracks, .traction {
      text-align: center;
      padding: 5px;
    }
  }

  .profile-list {
      font-size: 13px;
      color: $color-gray;
  }
  .profile-stats {
      top: 80%;
      font-size: 18px;
      color: $color-primary;
  }
}
