body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body.hasHover {
    .newsfeed-tabs {
        .custom-dropdown {
            .button &:hover {
                background-color: $color-hover;
            }
            .options .custom-option &:hover {
                background-color: darken(rgb(255, 190, 213), 5%);
            }
        }
        p:hover {
            background-color: $color-hover;
        }
    }
}

.homepage-content {
    box-sizing: border-box;
    padding: 75px;
    width: 100vw;
    max-width: 1050px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    color: white;
    &.logged-out {
        grid-template-columns: 1fr;
        max-width: 700px;
    }
}

.homepage-profile {
    height: 100%;
    width: 250px;
    box-shadow: 0 0 5px black;
    display: grid;
    grid-template-rows: auto 1fr;
    z-index: 4;
}

.sidebar-list {
    height: 100%;
    background: linear-gradient(black, $color-primary)
}

.tracklist {
    width: 100%;
    >* {
        box-shadow: 0 0 5px black;
    }
    .new-post {
        background-color: rgb(255, 225, 235);
        margin-bottom: 1em;
        padding: 20px;
        display: grid;
        grid-template-columns: min-content auto min-content;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 3;
        .avatar-img {
            vertical-align: middle;
            align-self: start;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            border: 3px solid white;
            border-radius: 50%;
        }
        .textarea {
            resize: none;
            box-sizing: border-box;
            width: calc(100% - 30px);
            padding: 5px;
            border-radius: 10px;
            border-color: palevioletred;
            border-width: 3px;
            outline: none;
            font-size: 15px;
            transition: .2s ease-out;
            height: 40px;
            &:focus {
                height: 100px;
            }
        }
        .post-track {
            @include button;
            color: black;
            margin: 0;
            text-align: center;
            border: solid thin palevioletred;
            background: white;
            align-self: start;
        }
    }
}

.newsfeed-tabs {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    border-bottom: 2px solid $color-primary;
    position: relative;
    z-index: 2;
    &.logged-out {
        grid-template-columns: min-content 1fr min-content;
    }
    .custom-dropdown {
        box-sizing: border-box;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        align-self: center;
        justify-self: right;
        position: relative;
        width: 200px;
        margin: 10px;
        .button {
            padding: 10px;
            cursor: pointer;
        }
        .options {
            box-sizing: border-box;
            width: 100%;
            background: rgb(255, 190, 213);
            position: absolute;
            top: 100%;
            transition: 0.1s;
            .custom-option {
                padding: 10px;
                cursor: pointer;
            }
            &.hide-menu {
                display: none;
                height: 0;
            }
        }
    }
    p {
        margin: 0;
        padding: 20px;
        cursor: pointer;
        &.active-filter {
            background: rgb(255, 190, 213);
        }
    }
}
@media only screen and (max-width: 900px) {
    .homepage-content {
        padding: 0;
        grid-gap: 0;
        &,
        .tracklist .new-post {
            margin: 0;
        }
        .tracklist *:not(.newsfeed-tabs) {
            box-shadow: none !important;
        }
        &.logged-out {
            padding: 50px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .homepage-profile {
        height: auto;
        width: 100%;
        display: none;
    }
    .homepage-content {
        margin: 0;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "profile" "newsfeed";
        &.logged-out {
            padding: 0;
        }
    }
    .tracklist {
        width: 100vw;
    }
    .tracklist .new-post {
        margin: 0 !important;
        width: 100vw !important;
        grid-template-columns: auto min-content !important;
        textarea {
            box-sizing: border-box;
            width: 100% !important;
        }
        .post-track {
            padding: 10px;
            margin-left: 20px;
            width: 15vw !important;
        }
        img {
            display: none;
        }
    }
    .newsfeed-tabs {
        grid-template-columns: auto auto 1fr !important;
        width: 100vw !important;
        >p {
            padding: 15px !important;
            width: min-content !important;
        }
    }
    .custom-dropdown {
        box-sizing: border-box !important;
        margin: 0 !important;
        height: 100% !important;
        width: max-content !important;
        max-width: 250px !important;
        justify-self: left !important;
        .button {
            padding: 15px !important;
        }
        .options option {
            padding: 15px !important;
        }
    }
}