body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage-content {
  margin: 100px 0;
  width: 100vw;
  max-width: 900px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  color: white;

  &.logged-out {
    grid-template-columns: 1fr;
    max-width: 700px;
  }
}

.homepage-profile {
  height: 100%;
  width: 250px;
  box-shadow: 0 0 5px black;
  display: grid;
  grid-template-rows: auto 1fr;
}
.sidebar-list {
    height: 100%;
    background: linear-gradient(#00000000, $color-primary)
}

.homepage-newsfeed {
  width: 100%;

  .new-post {
    background-color: rgb(255, 225, 235);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 1px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    height: min-content;

    .avatar-img {
      vertical-align: middle;
      align-self: start;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border: 3px solid white;
      border-radius: 50%;
    }

    .textarea {
        resize: none;
        box-sizing: border-box;
        width: calc(100% - 30px);
        padding: 5px;
        border-radius: 10px;
        border-color: palevioletred;
        border-width: 3px;
        outline: none;
        font-size: 15px;
        transition: .2s ease-out;
        height: 40px;

      &:focus {
        height: 100px;
      }
    }

    .post-track {
        @include button;
        color: black;
        margin: 0;
        text-align: center;
        border: solid thin palevioletred;
        background: white;
        align-self: start;
    }
    // .post-track {
    //     color: black;
    //     border: solid thin palevioletred;
    //     justify-self: center;
    //     align-self: start;
    //     padding: 10px;
    //     margin: 0;
    //     border-radius: 10px;
    //     cursor: pointer;
    //     transition: .16s;
    //     overflow: hidden;
    //     font-size: 15px;

    //     background: white;
    //     &:focus {
    //         outline: none;
    //         box-shadow: 0 0 5px $color-primary;
    //     }
    //     &:before {
    //       transform: translateX(300px) skewX(-15deg);
    //       opacity: 0.6;
    //       transition: 0.7s;
    //     }
    //     &:after {
    //       transform: translateX(300px) skewX(-15deg);
    //       opacity: 1;
    //       transition: 0.7s;
    //     }
    //   }
    }
  }

  .newsfeed-tabs {
    background-color: white;
    color: black;
    display: grid;
    width: 100%;
    grid-template-columns: min-content min-content 1fr min-content;
    border-bottom: 1px solid $color-primary;
    &.logged-out {
      grid-template-columns: min-content 1fr min-content;
    }

    .custom-dropdown {
      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none;

      align-self: center;
      justify-self: center;
      grid-column-start: -2;
      position: relative;
      width: 200px;
      margin: 10px;
      .button {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: $color-hover;
        }
      }
      .options {
        box-sizing: border-box;
        width: 100%;
        background: rgb(255, 190, 213);
        position: absolute;
        top: 100%;
        transition: 0.1s;
        option {
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: darken(rgb(255, 190, 213), 5%);
          }
        }
        &.hide-menu {
          display: none;
          height: 0;
        }
      }
    }
    .public-tab {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    .following-tab {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    p {
        margin: 0;
        padding: 20px;
        cursor: pointer;

        &:hover {
            background-color: $color-hover;
        }
        &.active-filter {
            background: rgb(255, 190, 213);
        }
    }
}


@media only screen and (max-width: 700px) {
  .homepage-profile {
    height: auto;
    width: 100%;
  }
  .homepage-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "profile"
      "newsfeed";
  }
}
