body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage-content {
    margin: 100px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: 1fr;
    color: white;
}

.homepage-profile {
    border: solid;
    height: 250px;
    width: 250px;
}

.homepage-newsfeed {
    height: 500px;
    width: 100%;
    border: solid;
    grid-row: 1 / -1;
    grid-column-start: 2;
    grid-column-end: -1;
}
