$color-primary: palevioletred;
$color-gray: rgb(106, 105, 105);
$color-hover: rgb(238, 238, 238);

header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  width: 100vw;
  background-color: rgb(24, 24, 24);
  z-index: 999;
  box-shadow: 0 0 5px black;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 15px;
}

.navbar__logo {
  margin-left: 0.5rem;
}

.navbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.navbar_navigation-items {
  width: 100%;
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  ul.nav-left {
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
  }

  ul.nav-right {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;

    width: 100%;
    grid-column-start: -2;
  }
  li {
    font-size: 14px;
  }
  a:not(.avatar), .nav-link {
    cursor: pointer;
    border-bottom: 0 $color-primary solid;
    transition: 0.1s linear;
    margin: 10px 0;
    padding: 5px;
    &:hover, &.active {
      color: $color-primary;
      border-bottom-width: 2px;
      margin-bottom: 8px;
      i {
        color: $color-primary;
      }
    }
    box-sizing: border-box;

    color: white;
    text-decoration: none;
  }
}

.fa {
  color: white;
  padding-right: 7px;
}
.avatar {
  box-sizing: border-box;
  height: min-content;
  text-decoration: none;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover .profile-settings {
    width: 38px;
    height: 38px;
  }
}
.profile-settings {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  transition: .2s;
  width: 35px;
  height: 35px;
}

@media (max-width: 700px) {
  .avatar {
    width: 38px;
    height: 38px;
  }
  .navbar_navigation-items {
    grid-template-columns: 1fr auto;
    .fa {
      display: inline-block;
      font-size: 20px;
      padding: 0 1px;
    }
    ul.nav-left {
      display: none;
    }
    // .nav-left a {
    //   font-size: 0;
      
    //   // width: 2em; /* set to same as icon */
    //   color: white; /* set to same as background */
    //   overflow: hidden;
    //   text-align: center;
    // }
  }
}

@media (min-width: 700px) {
  .navbar__toggle-button {
    display: none;
  }
  // .navbar__logo {
  //   margin-left: 0;
  // }
}
